.api-key-display-secure {
  filter: blur(0px) !important;
  transition: none !important;
  cursor: pointer !important;
}

.api-key-display-censored {
  background: black !important;
  color: black !important;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.api-key-display-visible {
  background: none;
  color: var(--color-text-body);
  user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

.dropdown__menu-secure {
  visibility: hidden;
}

.dropdown__menu--open {
  visibility: visible;
}

.theming-menu__btn {
  background-color: var(--color-brown-500);
  font-size: 1.1rem;
  padding: .3rem .7rem;
  border: 2px solid var(--color-brown-700);
  border-radius: 5px;
  color: var(--color-bg);
  cursor: pointer;
  width: 100%;
}

.settings-form > .modal__actions {
  flex-wrap: wrap;
}

.settings-form > .modal__actions > input {
  flex: 1 0 50%;
  margin: 0;
}